[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
isort = "*"
black = "==20.8b1"
mypy = "*"
pytest = "*"
ipython = "*"
ipdb = "*"
coverage = "*"

[requires]
python_version = "3.9"
